@define-color panel       rgba(37, 37, 44, 1);
@define-color panel_tool  rgba(15, 15, 18, 1);

@define-color text        #8c3901;
@define-color light       #f5d8a3;
@define-color text-light  #875a3b;
@define-color accent      #BE5103;
@define-color accent-opacity rgba(190, 81, 3, 0.5);
@define-color power       #ff8c32;
@define-color background  #0f0f12;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    min-height: 0px;
    margin: 0px;
}

window {
    background: rgba(15, 15, 18, 0.8);
    margin: 0px;
    width: 200px;
    height: 100px;
    height: auto;
    margin: auto;
    border: none; /* Fjerner den gamle faste borderen */
    color: @accent;

    /* Venstre-kant styling: 4px utstikkere og striplet linje */
    background-image:
        linear-gradient(@accent, @accent), 
        linear-gradient(@accent, @accent),
        linear-gradient(to bottom, @accent-opacity 2px, transparent 2px);
    
    background-repeat: no-repeat, no-repeat, repeat-y;
    
    background-size:
        4px 2px,   /* Topp utstikker */
        4px 2px,   /* Bunn utstikker */
        2px 6px;   /* Vertikal striplet linje */

    background-position:
        0 0,       
        0 100%,    
        0 0;       
}

window {
    width: 360px;
    height: 240px;
    margin: auto;
}

entry:focus {
    box-shadow: none;
    -gtk-outline-style: none;
    -gtk-outline-color: transparent;
}

#input {
    padding: 0;
    margin: 0;
    max-height: 0;
    height: 0;
    border: none;
    background-color: transparent;
}

#inner-box {
    margin-top: 4px;
    height: fit-content;
    width: fit-content;
}

#outer-box {
    background: transparent;
    height: fit-content;
    width: fit-content;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
}

#scroll {
    margin: 0px;
    border-radius: 0px;
}

#text:first-child{
    margin: 0.25rem 0.5rem; /* Gir luft til den nye linjen */
    padding: 0.3rem 0.3rem;
    border-radius: 0px;
    background-color: @panel;
    color: @text-light;
}

#entry {
    margin: 0;
    padding: 0;
    transition: 
        background-color 0.2s ease,
        transform 0.2s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 0.2s ease;
    position: relative;
    overflow: hidden;
}

#entry:selected {
    outline: none;
    background-color: transparent;
}

#text:first-child:selected {
    outline: none;
    background-color: @panel;
}

#text:selected {
    background: transparent;
    color: @power;
    font-weight: 600;
}
